.heading {
  margin: 1.25rem 0;
}

.heading h1,
.heading .heading-1 {
  font-size: 2rem;
  line-height: 1.1;
  margin: 0;
  font-weight: 600;
}

.heading h2,
.heading .heading-2 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0;
  font-weight: 600;
}

.heading h3,
.heading .heading-3 {
  font-size: 1.25rem;
  line-height: 1.25;
  margin: 0;
  font-weight: 600;
}

.heading p {
  margin: 0;
}
